html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}
.light-mode {
  --color-primary: #0060df;
  --color-secondary: #fbfbfe;
  --color-accent: #fd6f53;
  --font-color: #000000;
}

.dark-mode {
  --color-primary: #17ed90;
  --color-secondary: #2a2c2d;
  --color-accent: #12cdea;
  --font-color: #ffffff;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  background: var(--color-secondary);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container h1 {
  color: var(--font-color);
  font-family: sans-serif;
}

.switch {
  position: relative;
  display: inline-block;
  width: 4rem;
  height: 1.5rem;
}

.switch input {
  opacity: 0;
}


.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: #ccc;
  transition: 0.4s;
}
.slider::before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  inset: 0 0 0 0;
  margin: auto 0;
  transition: 0.4s;
  box-shadow: 0 0px 15px #2020203d;
  background: white url("https://i.ibb.co/FxzBYR9/night.png");
  background-repeat: no-repeat;
  background-position: center;
}
input:checked + .slider {
  background-color:var(--color-primary);
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}
input:checked + .slider::before {
  transform: translateX(1.8rem);
  background: white url("https://i.ibb.co/7JfqXxB/sunny.png");
  background-position: center;
  background-repeat: no-repeat;
}

.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
